Repository attakei/age: changes, and which lefthook commands are due for each by the changed paths.
All: nph, ruff, doc8

nph:
  run: nph {staged_files}
  stage_fixed: true

ruff:
  run: uv run ruff format {staged_files}
  stage_fixed: true

doc8:
  run: uv run doc8 {staged_files}

ci: Run test only release build manually (not upload releases)
  .github/workflows/release.yml
  age.nimble
Due: none

chore: Set latest target and context
  .age.toml
Due: none

chore: Simplify inner name of archive
  .github/workflows/release.yml
  age.nimble
Due: none

chore: Rename document folder
  .age.toml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  docs/.gitignore
  docs/Makefile
  docs/_static/css/custom.css
  docs/_templates/layout.html
  docs/advanced/config-file.rst
  docs/advanced/index.rst
  docs/advanced/workspace.rst
  docs/changelog.md
  docs/conf.py
  docs/demo.cast
  docs/index.rst
  docs/make.bat
  docs/usage/commands.rst
  docs/usage/configuration.rst
  docs/usage/index.rst
  docs/usage/installation.rst
Due: ruff, doc8

docs: Run linkcheck in GitHub Actions
  .github/workflows/main.yml
Due: none

docs: Add cases of installation for cross-platform
  .age.toml
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

docs: Write about template variables
  docs/usage/configuration.rst
  docs/usage/index.rst
  docs/usage/templating.rst
Due: doc8

docs: Update about rel for Rust
  docs/conf.py
  docs/index.rst
  docs/usage/configuration.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

ci: Set none static test with root .age.toml
  tests/test_config.nim
Due: nph

docs: Change installing
  README.md
Due: none

chore: Rename project (age-cli -> age)
  .age.toml
  docs/usage/configuration.rst
  docs/usage/installation.rst
Due: doc8

chore: Enable Renovate
  renovate.json5
Due: none

fix: Remove unused echo
  src/age/cli.nim
Due: nph

chore: Change display timezone for release
  .age.toml
Due: none

ci: Test on macOS for e2e
  .github/workflows/main.yml
Due: none

docs: Fix arch for macOS
  .age.toml
  docs/usage/installation.rst
Due: doc8

release: Version 0.8.0
  .age.toml
  CHANGELOG.md
  age.nimble
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

docs: Fix heading level
  CHANGELOG.md
Due: none

ci: Set same name
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

docs: Remove Rust
  README.md
Due: none

docs: Add ref to GitHub link
  README.md
Due: none

docs: Fix repo name
  README.md
Due: none

feat: Add context handler of templating
  src/age/templating.nim
  tests/test_templating.nim
Due: nph

refactor: Migrate proc for templating
  src/age/engine.nim
Due: nph

chore: Set new template proc
  .age.toml
Due: none

feat: sameLengthChars supports multiple chars
  docs/usage/templating.rst
  src/age/templating.nim
  tests/test_templating.nim
Due: nph, doc8

chore: Change group of deps
  pyproject.toml
  uv.lock
Due: none

chore: Mark private as python-project
  pyproject.toml
Due: none

chore: Use remote include of lefthook
  lefthook.yaml
  renovate.json5
Due: none

chore: Show dependency dashboard of Renovate
  renovate.json5
Due: none

chore: Configure taskfile
  .env.example
  .gitignore
  Taskfile.yaml
  renovate.json5
Due: none

chore: Monitor python deps by Renovate
  renovate.json5
Due: none

chore: Use taskfile in workflow
  .github/workflows/deploy-docs.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
  mise.toml
Due: none

chore: Fix renovate managementa targets
  renovate.json5
Due: none

release: Version 0.9.0
  .age.toml
  CHANGELOG.md
  age.nimble
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

chore: Fix typo
  renovate.json5
Due: none

chore: Adjust for next call age
  .github/release-body.md
Due: none

feat: Add new configuration filename
  e2e/return-0/single-line-no-dotted-age-toml/after/age.toml
  e2e/return-0/single-line-no-dotted-age-toml/after/example.txt
  e2e/return-0/single-line-no-dotted-age-toml/before/age.toml
  e2e/return-0/single-line-no-dotted-age-toml/before/example.txt
  src/age/config.nim
Due: nph

chore: Control deps about workspace-configs
  renovate.json5
Due: none

Path conditions:
  nph: any of: *.nim
  ruff: any of: *.py
  doc8: any of: *.rst
