Repository attakei/age: changes, and which lefthook commands are due for each by the changed paths.
All: nph, ruff

nph:
  run: nph {staged_files}
  stage_fixed: true

ruff:
  run: uv run ruff format {staged_files}
  stage_fixed: true

docs: update deps
  pyproject.toml
  uv.lock
Due: none

docs: update deps
  .python-version
  pyproject.toml
  uv.lock
Due: none

feat: Define custom version object
  src/age/version.nim
  tests/type_version.nim
Due: nph

feat: Parse non-semver text to Version object
  src/age/version.nim
  tests/type_version.nim
Due: nph

ci: remove setup-pcre (already need not)
  .github/actions/setup-pcre/action.yaml
  .github/workflows/check-for-aqua.yaml
Due: none

ci: change target version to check as aqua-registry
  .github/envs/check-for-aqua/aqua.yaml
Due: none

fix: support empty suffix
  src/age/version.nim
  tests/type_version.nim
Due: nph

fix: raise error when argument is none version text
  src/age/version.nim
  tests/type_version.nim
Due: nph

refactor: replace semver to local version
  age.nimble
  src/age/cli.nim
  src/age/config.nim
  src/age/engine.nim
  src/age/info.nim
  tests/test_config.nim
  tests/test_engine.nim
Due: nph

refactor: rename module
  src/age/cli.nim
  src/age/config.nim
  src/age/engine.nim
  src/age/info.nim
  src/age/version.nim
  src/age/versioning.nim
  tests/test_engine.nim
  tests/test_versioning.nim
  tests/type_versioning.nim
Due: nph

fix: correct using proc
  src/age/cli.nim
Due: nph

chore: add target for updates
  .age.toml
Due: none

refactor: fix case
  src/age/config.nim
Due: nph

docs: correct order to load as config
  docs/advanced/config-file.rst
Due: none

release: version 0.12.0
  .age.toml
  .github/envs/check-for-aqua/aqua.yaml
  CHANGELOG.md
  age.nimble
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  src/age/consts.nim
  uv.lock
Due: nph, ruff

chore: ignore target
  .age.toml
Due: none

refactor: use confutils instead of cligen
  age.nimble
  src/age.nim
  src/age/cli.nim
Due: nph

Path conditions:
  nph: any of: *.nim
  ruff: any of: *.py
