Repository attakei/age: changes, and which lefthook commands are due for each by the changed paths.
All: nph, ruff, doc8

nph:
  run: nph {staged_files}
  stage_fixed: true

ruff:
  run: uv run ruff format {staged_files}
  stage_fixed: true

doc8:
  run: uv run doc8 {staged_files}

docs: Add supports files
  docs/usage/configuration.rst
Due: doc8

release: Version 0.10.0
  .age.toml
  CHANGELOG.md
  age.nimble
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

chore: Fix name
  .github/release-body.md
Due: none

ci: Use aqua instead of mise
  .github/workflows/deploy-docs.yml
  .github/workflows/main.yml
  aqua.yaml
  mise.toml
Due: none

feat: Configure as aqua registry
  aqua-policy.yaml
  aqua.yaml
  registry.yaml
Due: none

feat(aqua): Fix file paths of old version
  registry.yaml
Due: none

docs: Add about aqua registry
  README.md
  docs/usage/installation.rst
Due: doc8

release: Version 0.10.1
  .age.toml
  CHANGELOG.md
  age.nimble
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  uv.lock
Due: ruff, doc8

fix: Set correct version
  src/age/consts.nim
Due: nph

chore: Sync version text when call age itself
  .age.toml
Due: none

release: Version 0.10.2
  .age.toml
  CHANGELOG.md
  Taskfile.yaml
  age.nimble
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  src/age/consts.nim
  uv.lock
Due: nph, ruff, doc8

ci: Reserve workflow to dispatch from any branches
  .github/workflows/check-for-aqua.yaml
Due: none

fix(aqua): Migrate any files for aqua
  aqua/aqua-policy.yaml
  aqua/aqua.yaml
  aqua/registry.yaml
Due: none

ci(aqua): Fix monitoring target
  .github/workflows/check-for-aqua.yaml
Due: none

ci: Run aqua install from local registry
  .github/envs/check-for-aqua/aqua.yaml
  .github/workflows/check-for-aqua.yaml
Due: none

ci: Run aqua install with allowed policy
  .github/envs/check-for-aqua/aqua-policy.yaml
  .github/workflows/check-for-aqua.yaml
Due: none

ci(aqua): Add case without policy
  .github/workflows/check-for-aqua.yaml
Due: none

ci(aqua): Run tests on multiple platforms
  .github/workflows/check-for-aqua.yaml
Due: none

chore: update tools
  aqua.yaml
Due: none

update: remove experimantal flag for go-task that does not need it
  .env.example
  .github/workflows/deploy-docs.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: use pre-build executable for Nim development
  Taskfile.yaml
  aqua-policy.yaml
  aqua.yaml
Due: none

ci: update using aqua
  .github/workflows/check-for-aqua.yaml
  .github/workflows/deploy-docs.yml
  .github/workflows/main.yml
Due: none

refactor: format by nph
  src/age/config.nim
  src/age/info.nim
  src/age/init.nim
  tests/test_templating.nim
Due: nph

feat: configure structured logging using chronicles
  age.nimble
  src/age/cli.nim
  src/age/config.nim
  src/age/engine.nim
Due: nph

refactor: remove unused imports
  src/age/cli.nim
  src/age/engine.nim
Due: nph

fix!: drop lower versions
  .github/workflows/main.yml
  age.nimble
Due: none

chore: update tools for my latest development style
  .editorconfig
  .github/actions/setup-nim/action.yaml
  .github/envs/check-for-aqua/aqua-policy.yaml
  .github/envs/check-for-aqua/aqua.yaml
  .github/workflows/check-for-aqua.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  Taskfile.yaml
  aqua/aqua-policy.yaml
  aqua/aqua.yaml
  lefthook.yaml
  ryl.toml
Due: none

ci: restructure workflows
  .github/workflows/ci.yaml
  .github/workflows/deploy-docs.yaml
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .github/workflows/release.yml
  uv.lock
Due: none

docs: restructure deps
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Due: none

docs: remove unused files
  docs/Makefile
  docs/make.bat
Due: none

chore: configure for automatically
  renovate.json5
Due: none

ci: fix test env
  .github/envs/check-for-aqua/aqua-policy.yaml
  .github/envs/check-for-aqua/aqua.yaml
  .github/workflows/check-for-aqua.yaml
Due: none

ci: provide pcre64.dll from MSYS2 mingw64 on Windows
  .github/actions/setup-pcre/action.yaml
  .github/workflows/check-for-aqua.yaml
  .github/workflows/ci.yaml
Due: none

refactor!: use pure-Nim regex engine instead of PCRE
  age.nimble
  e2e/return-0/multi-line-regex-captured/after/.age.toml
  e2e/return-0/multi-line-regex-captured/before/.age.toml
  src/age/config.nim
  src/age/engine.nim
Due: nph

ci: stop installing PCRE for test and e2e
  .github/workflows/ci.yaml
Due: none

docs: describe regex syntax based on nim-regex
  docs/usage/configuration.rst
Due: doc8

refactor: remove unused import
  src/age/cli.nim
Due: nph

chore: run `nimble setup`
  .gitignore
  config.nims
Due: none

ci: archive only bundled directory for release
  .github/workflows/release.yaml
Due: none

release: version 0.11.0
  .age.toml
  CHANGELOG.md
  age.nimble
  docs/conf.py
  docs/usage/installation.rst
  pyproject.toml
  src/age/consts.nim
  uv.lock
Due: nph, ruff, doc8

Path conditions:
  nph: any of: *.nim
  ruff: any of: *.py
  doc8: any of: *.rst
